In [1]:
import pandas as pd
import numpy as np

In [2]:
df_csv = pd.read_csv("adult.csv")
df_csv.head()

,Age,Workclass,Income,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per Week,Native Country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [3]:
# 平均數
income = df_csv['Income']
mean_value = np.mean(income)
print("Mean value:", mean_value)

Mean value: 189778.36651208502

In [4]:
# 標準差
std_value = np.std(income)
print("Standard deviation:", std_value)

Standard deviation: 105548.3568808908

In [5]:
# 中位數
median_value = np.median(income)
print("Median value:", median_value)

Median value: 178356.0